*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.left {
    display: flex;
    align-items: center;
}

#menu {
    width: 50px;
    height: 50px;
}

#yt {
    width: 100px;
    height: 50px;
}

#search {
    width: 30px;
    height: 20px;
    top: 0;
    left: 500px;
}

.search form {
    border: 1px solid #ddd;
    height: 35px;
    padding: 0;
    margin: 0;
    display: flex;

}

.search input {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}

.search button {
    padding: 5px;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

#voice {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.icons img {
    width: 50px;
    height: 50px;
    padding-right: 0;
    border: none;
    color: rgb(96, 96, 96);
    padding: 5px;
}

.mainbody {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    width: 230px;
    background-color: white;
    /* overflow-y: scroll; */
}

.sidebar_categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar_category {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.sidebar_category span {
    margin-left: 15px;
}

.sidebar_category:hover {
    background: lightgrey;
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: lightgray;
    border: none;
}

.videos {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.vid_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vid {
    width: 310px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100%;
    height: 170px;
}

.thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.detail {
    display: flex;
    margin-top: 10px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a, span {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}
